<div class="container">
  <h1>Worlds</h1>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        {{#each worlds}}
          <div class="col-md-4 col=lg=4">
           <h2><a href="">{{{title}}}</a></h2>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>