<div class="container">
  <h1>Worlds</h1>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        {{#each worlds}}
          <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header"><a href="{{worldUrl slug}}">{{{title}}}</a></div>
            <div class="card-body">
              <h4 class="card-title">Secondary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>